h1{
    font-size: 30px;
    font-weight: bold;
}

#t1{
    color: rgb(53, 53, 186);
    background-color: rgb(234, 234, 219);
}

#t2{
    color: red;
}

#t3{
    color: rgb(177, 174, 174);
}

#t4{
    font-weight: bold;
}

#t5{
    font-weight: bold;
}